<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color='dark'>
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color='dark' style="text-align: center; font-weight: bolder;">{{'Change Password' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form [formGroup]="changepasswordform">
    <ion-grid class="grid-class">
      <ion-row>
        <ion-item style="width:100%">
          <ion-label style="font-weight: bolder;" position="floating">{{'Email' | translate}}</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item style="width:100%">
          <ion-label style="font-weight: bolder;" position="floating">{{'Old Password' | translate}}
          </ion-label>
          <ion-input formControlName="old_password" [type]="ShowPassword ? 'text' : 'password'">
          </ion-input>
          <ion-icon (click)="passwordtoggle()" style="margin-top: 8%;" [name]="PasswordToggleicon" slot="end">
          </ion-icon>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item style="width:100%">
          <ion-label style="font-weight: bolder;" position="floating">{{'New Password'  | translate}}</ion-label>
          <ion-input formControlName="password" [type]="ShowPassword ? 'text' : 'password'"></ion-input>
          <ion-icon (click)="passwordtoggle()" style="margin-top: 8%;" [name]="PasswordToggleicon" slot="end">
          </ion-icon>

        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item style="width:100%">
          <ion-label style="font-weight: bolder;" position="floating">{{'Confirm New Password' | translate}}</ion-label>
          <ion-input formControlName="password_confirmation" [type]="ShowPassword ?  'text': 'password'"></ion-input>
          <ion-icon style="margin-top: 8%;" (click)="passwordtoggle()" [name]="PasswordToggleicon" slot="end">
          </ion-icon>

        </ion-item>
      </ion-row>
      <!-- <ion-row>
        <ion-button style="margin-top:-2% !important" expand="full" color="danger" slot="start"
          (click)="UpdatePassword()">
          <ion-icon name="checkmark-circle-outline"></ion-icon>

          <ion-icon style="margin-right:5%;" name="checkmark-circle-outline"></ion-icon>
          Change password
        </ion-button>
      </ion-row> -->
      <section>
        <ion-button (click)="UpdatePassword()" style="margin-top:5% !important" shape="round" expand="block"
          color="danger" slot="start">
          <ion-icon style="margin-right:5%;" name="cloud-upload-outline"></ion-icon>
          {{'Send' | translate}}
        </ion-button>
      </section>

    </ion-grid>

  </form>

</ion-content>