ion-title{
    color:#37bed2;
}
ion-content{
    
    *{
        color: #37bed2;
    }
    h6{
        margin-top: 3px;
        color: #000;
        font-weight: 600;
        font-size: larger;
    }
    --ion-background-color:#f7f7f7;

    // --ion-background-color:#37bed2;
}