<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color='dark'>
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color='dark' style="text-align: center; font-weight: bolder;">{{'Choose your doctor' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="Results.length == 0" style="display: flex; margin-top: 74%;
                        margin-left: 77px;">
          <img src="../../assets/images/close.png" style="width: 7%;">
          <h5 style="margin-left: 18px;
                          margin-bottom: 0px !important; font-weight:bold;">
            {{'There is no doctors for now' | translate}}
          </h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-card style="width:100%; height:auto; overflow: hidden;" *ngFor="let r of Results">
        <ion-item color="light">
          <ion-thumbnail slot="start">
            <img style="border-top-left-radius: 15px;
            border-top-right-radius: 15px;" [src]="r.avatar">
          </ion-thumbnail>
          <ion-label>
            <div>
              <h2 style="font-weight:bold">
                <ion-icon class="ion-icon2" name="person-outline" slot="end"></ion-icon>{{'Name' | translate}}
                :{{r.name}}
              </h2>
              <p>
                <ion-icon class="ion-icon2" name="checkbox-outline" slot="end"></ion-icon>{{'title' | translate}}
                :{{r.title}}
              </p>
              <p>
                <ion-icon class="ion-icon2" name="locate-outline" slot="end"></ion-icon>{{'address' | translate}}
                :{{r.address}}
              </p>
              <p>
                <ion-icon class="ion-icon2" name="call-outline" slot="end"></ion-icon>{{'phone' | translate}} :
                {{r.phone}}
              </p>
              <p>
                <ion-icon class="ion-icon2" name="eye-outline" slot="end"></ion-icon>{{'Views' | translate}}
                :{{r.views}}
                {{'customer view' | translate}}
              </p>
            </div>
          </ion-label>
        </ion-item>

        <ion-row>
          <h6 style="color: #000;
          margin-left: auto;
          margin-right: auto;
          font-weight: bold;
          margin-bottom: 0px !important;
          font-size: 103%;
          margin-top:4%;">
            {{'Slide to the left to add to favoraits' | translate}}
          </h6>
          <ion-item-sliding>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="addtofav(r.id)">
                <ion-icon class="ion-icon-color" slot="icon-only" name="heart"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-list lines="none">
              <ion-item style="padding-left: 0px !important;">
                <ion-label style="text-align: center; font-size:larger; font-weight: bolder;">
                  {{'Add to favoraits' | translate}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-item-sliding>

        </ion-row>

        <ion-row>
          <h6 style="color: #000;
          margin-left: auto;
          margin-right: auto;
          font-weight: bold;
          margin-bottom: 0px !important;
          font-size: 103%;
          margin-top:4%;">
            {{'Slide to the left to apply rating' | translate}}
          </h6>
          <ion-item-sliding>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="rate(r.id)">
                <ion-icon class="ion-icon-color" slot="icon-only" name="star"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-list lines="none">
              <ion-item style="padding-left: 0px !important;">
                <ion-label style="text-align: center; font-size:larger; font-weight: bolder;">
                  {{'Apply rating' | translate}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-item-sliding>

        </ion-row>

        <hr style="border:1px dashed darkgray; margin-top:0px !important">
        <ion-row>
          <div style="display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: -4%;">
            <div style="margin-left: 10px;">
              <h5>{{'speciality' | translate}} <ion-icon name="checkbox-outline" slot="start">
                </ion-icon> <br> {{r.speciality}}
              </h5>
            </div>
            <div style="margin-right: 10px;">
              <h5>{{'price' | translate}} <ion-icon name="cash-outline" slot="end"></ion-icon> <br>{{r.price}} LE
              </h5>
            </div>
          </div>
          <div style="margin-left: auto; margin-right: auto;">
            <h5>{{'waiting time' | translate}} <ion-icon name="time-outline" slot="end"></ion-icon> <br>
              {{r.waiting_time}} {{'min' | translate}}
            </h5>
          </div>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-card style="border-radius: 10%;">
              <ion-card-header style="text-align: center; font-weight: bolder; color:#000">
                {{'Doctor services' | translate}}
              </ion-card-header>
              <ion-card-content style="text-align: center; font-weight: bolder; color:#000">
                <!--  -->
                <div *ngIf="r.services.length > 0">
                  <div *ngFor="let s of r.services">
                    {{s.name}}
                  </div>
                </div>
                <div *ngIf="r.services.length <= 0">
                  <h5 style="font-weight: bold;">{{'There is no services' | translate}}</h5>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card style="border-radius: 10%;">
              <ion-card-header style="text-align: center; font-weight: bolder; color:#000">
                {{'Doctor langauges' | translate}}
              </ion-card-header>
              <ion-card-content style="text-align: center; font-weight: bolder; color:#000">
                <div *ngIf="r.languages.length > 0">
                  <div *ngFor="let s of r.languages">
                    {{s.name}}
                  </div>
                </div>
                <div *ngIf="r.languages.length <= 0">
                  <h5 style="font-weight:bold ;">{{'There is no languages' | translate}}</h5>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-button color="secondary" (click)="gotodrdetails(r)"> {{'Book now' | translate}}</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>