.button-inner ion-icon{
    color: #37bed2 !important;
}
ion-content{
   

    h6{
        margin-top: 3px;
        font-weight: 600;
    }

    ion-item{
        margin-bottom: 5px;
        border-radius: 10px;
    }

}