<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color='primary'>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; font-weight:bolder" color='dark'>{{'Choose Speciality' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar mode="ios"></ion-searchbar>
</ion-toolbar>

<ion-content style="background-color: #f7f7f7;">
  <div class="container">
    <ion-list>
      <ion-card style="margin-left:auto; margin-right: auto;" *ngFor="let s of SpecialityArray"
        (click)="SetSpeciality(s.id)">
        <ion-item color="light">
          <ion-avatar slot="start">
            <img [src]="s.avatar">
          </ion-avatar>
          <ion-label>
            <h2>{{s.name}}</h2>
            <p style="color:darkgray">{{s.name}}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>


</ion-content>